<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./css/style.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="https://messagevd.herokuapp.com/socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000");
    </script>
</head>

<body>
    <div id="login">
        <div id="title">Tạo tên</div>
        <input type="text" id="txtUser" placeholder="Tên của bạn"/>
        <input type="button" id="btnGo" value="Vào"/>
    </div>
    <div id="wrapper">
        <div id="wrapper-left">
            <div id="wrapper-listOnline">
                <div id="listOnline-header">Người online</div>
                <div id="listOnline-body">
                </div>
            </div>
        </div>
        <div id="wrapper-right">
            <div id="wrapper-user">
                <div id="user-name"></div>
                <input type="button" id="btnLogout" value="Logout" />
            </div>
            <div id="wrapper objectChat">
                <div id="all" class="object">Mọi người</div>
                <div id="friend" class="object">Cá nhân</div>
            </div>
            <div id="wrapper-message">
                <div id="table-message"></div>
                <div id="message">
                    <input type="text" id="text-message" placeholder="text"/>
                    <input type="button" id="btnSend" value="send"/>
                    <!-- <input type="text" id="to-user" placeholder="to"/> -->
                </div>
            </div>
        </div>
    </div>
</body>
<script src="javascript/xuli.js"></script>
</html>